
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Foundation settings
@import "settings";

// Bootstrap
@import 'node_modules/foundation-sites/assets/foundation';

#responsive-menu ul {
  width: 100%;

}
#responsive-menu ul li {
  width: 33%;
  text-align: center;
  float: left;
}
#responsive-menu ul li.social-icons-container {
  padding-top: 15px;
}
#responsive-menu ul li.social-icons-container a {
  display: inline;
  padding-right: 20px;
  height: 28px;
  color: $main-site-color;
}
#responsive-menu ul li.social-icons-container a:last-child {
  padding-right: 0px;
}
#responsive-menu ul li.social-icons-container a i.fa {
  font-size: 22px;
}
.sign-up-button-container {
  padding-top: 12px;
}
.sign-up-button-container a {
  color: $main-site-color;
  display: inline;
  width: auto;
  padding: 8px 15px;
  border: 1px solid $main-site-color;
  font-size: 13px;
}
.top-slogan-container {
  background-color: $main-site-color;
  padding: 140px;
}
.top-slogan-container {
  color: #fff;
  background-color: $main-site-color;
  text-align: center;
}
.main-slogan {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 25px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.sub-slogan {
  margin-top: 25px;
  font-weight: bold;
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}